<br><br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <a href="/clientdb" type="button" class="btn btn-success">BLABLABLALBLA</a>
    <a href="/clientdb" type="button" class="btn btn-success">BLABLABLALBLA</a>
    <a href="/clientdb" type="button" class="btn btn-success">BLABLABLALBLA</a>
    <a href="/clientdb" type="button" class="btn btn-success">BLABLABLALBLA</a>
    <a href="/clientdb" type="button" class="btn btn-success">BLABLABLALBLA</a>
    <a href="/clientdb" type="button" class="btn btn-success">BLABLABLALBLA</a>


</div>